<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>
      Le estamos pasando mas de un parametro a este template con nuetsra Vista
      plantilladinamica por tanto le estamos Pasando
      nombre usuario introducida en la url : {{nombreusuario}}
    </h2>
    <h3>
      Array que es una variable local de nuestra función pasada a traves del
      context del Metodo Render de la vista : {{categories}}
    </h3>
    <ul>
     {# Esto es un comentario en Django de una sola linea #}
      {% for categoria in categories %}
       {% if categoria == "web" %}
      <li><b>{{ categoria|upper }}</b></li>
      {% else %}
      <li>{{ categoria }}</li>
      {% endif %} {% endfor %}
    </ul>
    <h5>Total de categorias : {{ categories|length }}</h5>
    {% comment "Multilinea" %}
     Esto es un comentario Multilinea en Django
    {%endcomment %} 
   
  </body>
</html>