{%extends './layouts/base.html' %}
{% block content %}
	<h1>Porfolio</h1>
    <div class='folio'>
        <img src='https://picsum.photos/id/300/200/300'/>
        <img src='https://picsum.photos/id/250/250/300'/>
        <img src='https://picsum.photos/id/250/300/300'/>
        <img src='https://picsum.photos/id/210/200/300'/>
        <img src='https://picsum.photos/id/150/200/300'/>
        <img src='https://picsum.photos/id/250/250/300'/>
        <img src='https://picsum.photos/id/250/200/300'/>
        <img src='https://picsum.photos/id/250/200/300'/>
    </div>   

{% endblock %}